<div>
    <h1>Pazari</h1>
    <hr>

    <img src="../../../assets/images/pazari.png"><br>
    <h2>PROJECT WEB (5° SEMESTER)</h2>
    <ul>
        <li>
            General function: E-commerce for bazaars in Guadalajara, login by account
            (normal user, bazaar, bazaar brand). Where all users have the option of a
            shopping cart, reserve a product in advance, buy, filter a search and post on a
            purchased product. User bazzar brand can upload a product in its respective
            category and post any comment on their own products. Users bazaar and
            bazaar brand are linked with their social medias. All user interactions are
            reflected on the database and it is checked by developed API.
        </li>

        <br>
        <br>

        <li>
            Developed on JavaScript, CSS and HTML
        </li>

        <br>
        <br>

        <li>
            Sign In required for users (normal user, bazaar, bazaar brand)
        </li>

        <br>
        <br>

        <li>
            Uploaded in github during the development as a private repository
            <a href="https://github.com/josepvazquezp/web_proyect" target="_blank">https://github.com/josepvazquezp/web_proyect</a>
        </li>
    </ul>

    <br>
    <br>
    <div class="pagination">
        <a routerLink="../pazari" class="active">1</a>
        <a routerLink="../coliseum">2</a>
        <a routerLink="../claim">3</a>
        <a routerLink="../bomberman">4</a>
        <a routerLink="../snake">5</a>
        <a routerLink="../coliseum">&raquo;</a>
    </div>
    
    <br>
    <br>
    <br>

    <a id="home" routerLink="/">
        Home
    </a>

    <br>
    <br>
    <br>
</div>