<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bandas</title>
        <link rel="stylesheet" href="./assets/dist/css/styles.css">
    </head>
    <body>
        <header>
            <h1 id="title"><br>Bandas</h1>
        </header>
        <main>
            <div class="container">
                <div>
                    <h1>Bandas Fav</h1>
                    <center> 
                        <h3>-> Tame Impala</h3>
                        <h3>-> Rufus Du Sol</h3>
                        <h3>-> Metronomy</h3>
                    </center>
                </div>
                <div>
                    <h1>Tame Impala</h1>
                    <img src="./assets/images/tame_impala.jpg" height="150px">
                </div>
                <div>
                    <h1>Rufus Du Sol</h1>
                    <img src="./assets/images/rufus.jpg" height="150px">
                </div>
                <div>
                    <h1>Metronomy</h1>
                    <img src="./assets/images/metronomy.jpg" height="150px">
                </div>
                <div>
                    <h1>Album Fav</h1>
                    <img src="./assets/images/nota.jpg" height="150px">
                </div>
                <div>
                    <h2>The Slow Rush</h2>
                    <img src="./assets/images/slow_rush.jpg" height="150px">
                </div>
                <div>
                    <h2>Bloom</h2>
                    <img src="./assets/images/bloom.jpg" height="150px">
                </div>
                <div>
                    <h2>The English Riviera</h2>
                    <img src="./assets/images/riviera.jpg" height="150px">
                </div>
            </div>
        </main>
        <footer>
            <h4>
                <b>Spotify: </b>
                pablo_vazquezp
            </h4>
            <h4>
                <b>Playlist recomendada: </b>
                Vibrando alto
            </h4>
        </footer>
    </body>
</html>