<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hobbies</title>
        <link rel="stylesheet" href="./assets/dist/css/styles.css">
    </head>
    <body>
        <header>
            <h1 id="title"><br>Hobbies</h1>
        </header>
        <main>
            <div class="container">
                <div>
                    <h1>Hobbies</h1>
                    <center> 
                        <h3>-> Karate</h3>
                        <h3>-> Anime</h3>
                        <h3>-> Piano</h3>
                    </center>
                </div>
                <div>
                    <h1>Karate</h1>
                    <img src="./assets/images/karate.jpg" height="150px">
                </div>
                <div>
                    <h1>Anime</h1>
                    <img src="./assets/images/anime.jpg" height="150px">
                </div>
                <div>
                    <h1>Piano</h1>
                    <img src="./assets/images/piano.jpg" height="150px">
                </div>
                <div>
                    <h1>Cosa Fav</h1>
                    <img src="./assets/images/magic.jpg" height="150px">
                </div>
                <div>
                    <h2>Negra 2° Dan</h2>
                    <img src="./assets/images/negra.jpg" height="150px">
                </div>
                <div>
                    <h2>Your lie in april</h2>
                    <img src="./assets/images/shigatsu.jpg" height="150px">
                </div>
                <div>
                    <h2>Steinway & Sons</h2>
                    <img src="./assets/images/ss_piano.jpg" height="150px">
                </div>
            </div>
        </main>
        <footer>
            <h4>
                <b>Karate: </b>
                Desde los 7 años
            </h4>
            <h4>
                <b>Piano: </b>
                De los 2-9 años, regresé a los 17
            </h4>
        </footer>
    </body>
</html>