<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1>Not Found (404)</h1>
                <img src="./assets/images/kirby.gif">
                <br>
                <br>
            </td>
            <td>
                <ul>
                    <li><h2>Home: <h3>localhost:3000/ &nbsp; &nbsp; &nbsp; &nbsp; <a href="/">Inicio</a></h3></h2></li>
                    <li><h2>Bandas: <h3>localhost:3000/bandas &nbsp; &nbsp; &nbsp; &nbsp; <a href="/bandas">Bandas</a></h3></h2></li>
                    <li><h2>Hobbies: <h3>localhost:3000/hobbies &nbsp; &nbsp; &nbsp; &nbsp; <a href="/hobbies">Hobbies</a></h3></h2></li>
                    <li><h2>Proyectos: <h3>localhost:3000/proyectos &nbsp; &nbsp; &nbsp; &nbsp; <a href="/proyectos">Proyectos</a></h3></h2></li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>