<div>
    <h1>Experience</h1>
    <hr>

    <br>
    <br>
    <br>

    <a routerLink="/pazari">
        <img src="../../../assets/images/pazari.png"><br>
        Pazari
    </a>
    
    &nbsp;

    <a routerLink="/coliseum">
        <img src="../../../assets/images/coliseo.png"><br>
        Coliseum
    </a>
    
    &nbsp;

    <a routerLink="/claim">
        <img src="../../../assets/images/claim.jpg"><br>
        Claim
    </a>
    <br>
    <br>
    <a routerLink="/bomberman">
        <img src="../../../assets/images/bomberman.png"><br>
        Bomberman <br>
        2600
    </a>
    &nbsp;
    <a routerLink="/snake">
        <img src="../../../assets/images/snake.png"><br>
        Snake
    </a>
</div>