<div>
    <h1>Bomberman 2600</h1>
    <hr>

    <img src="../../../assets/images/bomberman.png"><br>
    <h2>PROJECT ALGORITHMS (1° SEMESTER)</h2>
    <ul>
        <li>
            General function: 4 movements, bomb, and another 4 movements
        </li>

        <br>
        <br>

        <li>
            Develop on Python
        </li>

        <br>
        <br>

        <li>
            1 - 3 players (P1 vs CPU/P1 vs P2/P1 vs P2 vs P3)
        </li>

        <br>
        <br>

        <li>
            Uploaded in github during the development as a private repository
            <a href="https://github.com/josepvazquezp/Bomberman-2600" target="_blank">https://github.com/josepvazquezp/Bomberman-2600</a>
        </li>
    </ul>

    <br>
    <br>
    <div class="pagination">
        <a routerLink="../claim">&laquo;</a>
        <a routerLink="../pazari">1</a>
        <a routerLink="../coliseum">2</a>
        <a routerLink="../claim">3</a>
        <a routerLink="../bomberman" class="active">4</a>
        <a routerLink="../snake">5</a>
        <a routerLink="../snake">&raquo;</a>
    </div>
    
    <br>
    <br>
    <br>

    <a id="home" routerLink="/">
        Home
    </a>

    <br>
    <br>
    <br>
</div>