<div>
    <h1>Claim</h1>
    <hr>

    <img src="../../../assets/images/claim.jpg"><br>
    <h2>PROJECT PMD (3° SEMESTER)</h2>
    <ul>
        <li>
            General function: 2 rounds (1° build army, 2° fight to claim the throne), 5 clans
            (goblins, dwarfs, dopplegangers, knights and necromancers), 13 cards for each
            round.
        </li>

        <br>
        <br>

        <li>
            Develop on C
        </li>

        <br>
        <br>

        <li>
            1 - 2 players (P1 vs CPU/P1 vs P2)
        </li>

        <br>
        <br>

        <li>
            Uploaded in github during the development as a private repository
            <a href="https://github.com/josepvazquezp/claim_interfaz" target="_blank">https://github.com/josepvazquezp/claim_interfaz</a>
        </li>
    </ul>

    <br>
    <br>
    <div class="pagination">
        <a routerLink="../coliseum">&laquo;</a>
        <a routerLink="../pazari">1</a>
        <a routerLink="../coliseum">2</a>
        <a routerLink="../claim" class="active">3</a>
        <a routerLink="../bomberman">4</a>
        <a routerLink="../snake">5</a>
        <a routerLink="../bomberman">&raquo;</a>
    </div>
    
    <br>
    <br>
    <br>

    <a id="home" routerLink="/">
        Home
    </a>

    <br>
    <br>
    <br>
</div>