<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News App</title>
    <link rel="stylesheet" href="./assets/dist/css/styles.css">
</head>
<body>
    <form method="GET" action="/search">
        <input type="text" id="input_search" name="input" required placeholder="Search filter">
        <button type="submit" class="button">Search</button>
    </form>
    <center>
        {{{body}}}
    </center>
</body>
</html>