<div>
    <h1>Coliseum</h1>
    <hr>

    <img src="../../../assets/images/coliseo.png"><br>
    <h2>PROJECT PPO (4° SEMESTER)</h2>
    <ul>
        <li>
            General function: customize character by: class (Tank, Knight or Ninja), right/left
            weapon (Axe, Sword, Kunai, Shield), or only right weapon (Mace or LongAxe),
            wepon's material (Gold, Iron or Copper), armor (Breastplate or Helmet) and its
            respective material (Gold, Iron or Copper). Battle fase select action (Move, Attack,
            Jump or Shot [only if the weapon is flyable]) each character has HP and speed
            points. Wepons pow points and weapon/armor endurance. It finish when one of
            the players HP = 0.
        </li>

        <br>
        <br>

        <li>
            Develop on Java
        </li>

        <br>
        <br>

        <li>
            2 players (P1 vs P2)
        </li>

        <br>
        <br>

        <li>
            Uploaded in github during the development as a private repository
            <a href="https://github.com/josepvazquezp/coliseo" target="_blank">https://github.com/josepvazquezp/coliseo</a>
        </li>
    </ul>

    <br>
    <br>
    <div class="pagination">
        <a routerLink="../pazari">&laquo;</a>
        <a routerLink="../pazari">1</a>
        <a routerLink="../coliseum" class="active">2</a>
        <a routerLink="../claim">3</a>
        <a routerLink="../bomberman">4</a>
        <a routerLink="../snake">5</a>
        <a routerLink="../claim">&raquo;</a>
    </div>
    
    <br>
    <br>
    <br>

    <a id="home" routerLink="/">
        Home
    </a>

    <br>
    <br>
    <br>
</div>