<div>
    <h1>Contact</h1>
    <hr>

    <table>
        <tr>
            <td class="icons">
                <fa-icon [icon]="iconLocation"></fa-icon>
            </td>
            <td>
                <p>Zapopan, <br>
                    Jalisco <br>
                    Mexico
                </p>
            </td>
        </tr>
        <tr>
            <td class="icons">
                <fa-icon [icon]="iconEmail"></fa-icon>
            </td>
            <td>
                <p>jose.vazquez@iteso.mx</p>
            </td>
        </tr>
        <tr>
            <td class="icons">
                <fa-icon [icon]="iconNumber"></fa-icon>
            </td>
            <td>
                <p>(52) 33 21 72 70 42</p>
            </td>
        </tr>
    </table>
</div>