<div>
    <h1>Snake</h1>
    <hr>

    <img src="../../../assets/images/snake.png"><br>
    <h2>PERSONAL PROJECT</h2>
    <ul>
        <li>
            Description: base on the movil videogame
        </li>

        <br>
        <br>

        <li>
            Develop on Python
        </li>

        <br>
        <br>

        <li>
            Created during high school
        </li>
    </ul>

    <br>
    <br>
    <div class="pagination">
        <a routerLink="../bomberman">&laquo;</a>
        <a routerLink="../pazari">1</a>
        <a routerLink="../coliseum">2</a>
        <a routerLink="../claim">3</a>
        <a routerLink="../bomberman" >4</a>
        <a routerLink="../snake" class="active">5</a>
    </div>
    
    <br>
    <br>
    <br>

    <a id="home" routerLink="/">
        Home
    </a>

    <br>
    <br>
    <br>
</div>